@page "/"

<PageTitle>Accueil - Todo App Service</PageTitle>


<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="mb-4">Bienvenue dans Todo App Service</h1>
            <p class="lead">Organiser votre journée avec notre application de gestion de tâches. 
                Ici, vous pouvez facilement planifier et suivre vos tâches quotidiennes pour une meilleure productivité.
            </p>
        </div>
        <br />
        <ul>
            <li><strong>Créez des listes de tâches personnalisées :</strong> 
                <br />
                Vous pouvez créer des listes de tâches spécifiques à vos besoins.</li>
                <br />
            <li><strong>Suivez votre progression :</strong> 
                <br /> Notre application offre des fonctionnalités de suivi de progression pour que vous puissiez voir vos réalisations au fil du temps. Cela vous motive à maintenir votre productivité.</li>
        </ul>
    </div>
</div>