@page "/"

<PageTitle>Accueil - Todo App Service</PageTitle>


<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="mb-4">Bienvenue dans Todo App Service</h1>
            <p class="lead">Organiser votre journée avec notre application de gestion de tâches. 
                Ici, vous pouvez facilement planifier et suivre vos tâches quotidiennes pour une meilleure productivité.
            </p>
        </div>
    </div>
</div>