@page "/"

<PageTitle>Home - Todo App Service</PageTitle>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="mb-4">Welcome to Todo App Service</h1>
            <p class="lead">
                Organize your day with our task management application.
                Here, you can easily plan and track your daily tasks for enhanced productivity.
            </p>
        </div>
        <br />
        <ul>
            <li>
                <strong>Create Custom Task Lists:</strong>
                <br />
                You can create task lists that cater to your specific needs.
            </li>
            <br />
            <li>
                <strong>Track Your Progress:</strong>
                <br /> Our application offers progress tracking features so you can see your achievements over time. It motivates you to maintain your productivity.
            </li>
        </ul>
    </div>
</div>

