@page "/login"
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject LoginService loginService
@inject AuthenticationStateProvider authStateProvider

<h1 class="mb-4">Se connecter</h1>

<EditForm Model="@loginModel" OnValidSubmit="HandleLogin" class="needs-validation" novalidate>
    <div class="mb-3 row">
        <div class="col-4">
            <InputText @bind-Value="loginModel.Username" class="form-control" placeholder="Nom d'utilisateur" />
            <ValidationMessage For="@(() => loginModel.Username)" class="text-danger" />
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-4">
            <InputText @bind-Value="loginModel.Password" type="password" class="form-control" placeholder="Mot de passe" />
            <ValidationMessage For="@(() => loginModel.Password)" class="text-danger" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Se connecter</button>
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="text-danger mt-2">@errorMessage</div>
    }
</EditForm>

    @code {
    private LoginModel loginModel = new LoginModel();
    private string errorMessage;

    private async void HandleLogin()
    {
        var user = await loginService.AuthenticateUser(loginModel.Username, loginModel.Password);
        if (user != null)
        {
            var userClaim = await ((CustomAuthenticationStateProvider)authStateProvider).MarkUserAsAuthenticated(user);

            NavigationManager.NavigateTo("/");
        }
        else
        {
            Console.WriteLine("L'utilisateur n'existe pas");
            errorMessage = "L'utilisateur n'existe pas";
            return;
        }
    }

    private class LoginModel
    {
        public string Username { get; set; } = "";
        public string Password { get; set; } = "";
    }
}